
html {box-sizing: border-box;box-sizing: inherit;}

html {-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;}

body {font-family: Copperplate; font-size:20px;}

.h1 {font-size: 40px;}
.h2 {font-size: 30px;}
.h3 {font-size: 25px;}
.h4 {font-size: 20px;}
.h5 {font-size: 17px;}
.h6 {font-size: 14px;}


p {font: Copperplate; font-size: 12px;}
p {border: 5px solid orange; padding: 20px; margin: 20px;}

.bold-text {font-weight: bold}
.black-text {color:black}
.white-text {color:white}
.orange-text {color:orange}

.background-color1 {color:black}
.background-color2 {color:white}

a:hover {color: orange;}
a:visited {color: green;}

.image-size {max-width: 100%; height: auto;}
.img {vertical-align: middle;
    padding: 10px; 
    border: 5px solid orange}

#event{width: auto; height: auto;
    min-width: 320px;min-height: 240px;
    max-width: 640px;max-height: 480px;}

   
       
   .sticky-box1 {position: sticky; top: 0;float: top;}
   .sticky-box2 {position: sticky; bottom: 0;}
   .sticky-box3 {position: sticky; top: 300;}
   
   .center {display: inline-block; width: auto; position: center;}
   .text-center {text-align: center;}
   
   
   .flex-container {flex-direction: row; display:flex; justify-content: space-evenly; width:100%}
   .flex-container2 {flex-direction: row; display:flex; justify-content: space-evenly; padding:20px;}
   .flex-wrap {display: flex; flex: wrap;}
   
   
   .border {border: 5px solid orange;}
   .margin1 {margin: 10px;}
   .-margin {margin:-20px}
   .side-margin1 {margin-left: 10px;margin-right: 10px;}
   .side-margin2 {margin-left: 100px;margin-right: 30px;}
   .padding {padding:20px;}
   .padding2 {padding:50px;}
   .padding3 {padding-top: 200px;}
   
   .carousel {margin-left: auto; margin-right:auto; max-width:65%;}
   
   .left-align{text-align: left;}
   .center-align{text-align: center;}
   .right-align{text-align: right;}
   
   .scrolling {height:200px; overflow:auto;}
   
   .block {display: block; width: 100%;}
   .block2 {display: block; width: 50%;}
   
   .w3-bar {width: 100%;overflow: hidden;}
   
   .w3-center .w3-bar {display: inline-block;width: auto;}
   
   .w3-center {text-align: center;}